<div class="row">
  <div class="heading dark text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <h1>Atendimento</h1>
    <h3>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi</h3>
  </div>
</div>
<div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
  <div class="row col-sm-10 col-sm-offset-1">
    <div class="col-sm-6">
      <form id="main-contact-form" name="contact-form" method="post" action="#" class="dist">
        <div>
          <input name="name" class="form-control" placeholder="Nome" required="required">
        </div>
        <div>
          <input type="email" name="email" class="form-control" placeholder="Endereço de Email" required="required">
        </div>
        <div >
          <input name="subject" class="form-control" placeholder="Assunto" required="required">
        </div>

        <div>

        </div>
      </form>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <div>
        <textarea name="message" id="message" class="form-control" rows="5" placeholder="Escreva sua mensagem" required="required"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn-submit">Envie agora</button>
</div>
