<div class="container">
  <div class="row col-sm-10 col-sm-offset-1">
    <h1><i class="fa fa-user icone" aria-hidden="true"></i> A Autora</h1>
    <svg class="svg" width="100%" height="30px" viewBox="0 75 400 50">
      <line x1="-200" x2="620" y1="100" y2="100" stroke="#000" stroke-width="20" stroke-linecap="round" stroke-dasharray="1, 30"/>
    </svg>
    <div class="col-sm-6">
      <div class="what-is wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="/assets/autora.jpg" alt="Aline Sanchotene">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Aline Sanchotene</h2>
        <p>
          Formada pela Universidade de Brasília – UnB, habilitada em Publicidade
          e Propaganda. Com experiência em Criação Publicitária, atividades de
          Relações Públicas e Marketing Institucional. Trabalhou oito anos
          (2003/2011) como Tenente no Serviço de Comunicação Social do Exército
          Brasileiro.
        </p>
        <p>
          Especialista em criação de campanhas institucionais, assessoria de
          comunicação e projetos de comunicação corporativa. Atualmente atua na
          iniciativa privada com marketing digital.
        </p>
      </div>
      <div id="circles">
        <img src="/assets/Circulos.png" style="size: 50px;" alt="">
      </div>
    </div>
  </div>
</div>
