<section id="main">
  <div class="container">
    <div class="row col-sm-10 col-sm-offset-3">
      <h1>Tá viajando?</h1>
      <div class="col-sm-4">
        <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <p>Um Ebook interativo que é divertido </p>
          <p>e inovador voltado para as pessoas  </p>
          <p>de todas as idades. </p>
        </div>
      </div>
      <div class="col-sm-4 imac-image">
        <div class="what-is wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        </div>
      </div>
    </div>
  </div>
  <div class="border2"></div>
</section>

  <section id="projeto">
      <%= render :template => "home/projeto"%>
      <div class="border2"></div>
  </section>

  <section id="livro">
      <%= render :template => "home/livro"%>
      <div class="border2"></div>
  </section>

  <section id="autora">
      <%= render :template => "home/autora"%>
      <div class="border2"></div>
  </section>

  <section id="atendimento">
    <div id="contact-us">
      <div class="container">
        <%= render :template => "home/atendimento"%>
      </div>
    </div>
  </section>
