<div class="container">
  <div class="row col-sm-10 col-sm-offset-1">
    <h1><i class="fa fa-book icone" aria-hidden="true"></i> O Livro</h1>
    <svg class="svg" width="100%" height="30px" viewBox="0 75 400 50">
      <line x1="-200" x2="620" y1="100" y2="100" stroke="#000" stroke-width="20" stroke-linecap="round" stroke-dasharray="1, 30"/>
    </svg>    <div class="col-sm-6">
      <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <p>
          Através de um e-Book e um Aplicativo, você conhecerá um dicionário com
          o objetivo de levar estas 1001 expressões idiomáticas brasileiras de
          uma forma descontraída, usando uma história protagonizada por um casal
          em viagem ao Brasil, pois eles usam as expressões em situações inusitadas
          e muitas vezes divertidas, surgidas do cotidiano de qualquer viajante
          em trânsito.
        </p>
        <p>
          Na história, O casal viaja por Brasília e Rio de Janeiro, passeando pelas
          duas cidades com muito humor e em situações engraçadas, relacionando as
          expressões aos acontecimentos e momentos vividos. Além do conhecimento
          do vocabulário, a proposta é fazer com que os estrangeiros entendam como
          se comunicar de forma fácil, descontraída e precisa com a população do Brasil.
        </p>
        <p>
          Você poderá adquirir seu e-Book ou seu Aplicativo nas melhores App Stores.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="/assets/book.png" class="book" alt="">
    </div>
  </div>
</div>
