<div class="container">
  <div class="row col-sm-10 col-sm-offset-1">
    <h1><i class="fa fa-pencil-square-o icone" aria-hidden="true"></i> O Projeto</h1>
    <svg class="svg" width="100%" height="30px" viewBox="0 75 400 50">
      <line x1="-200" x2="620" y1="100" y2="100" stroke="#000" stroke-width="20" stroke-linecap="round" stroke-dasharray="1, 30"/>
    </svg>
    <div class="col-sm-6">
      <iframe width="100%" height="450px" src="https://player.vimeo.com/video/168579924" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-6 offset">
      <div class="what-is wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <p>
          O projeto foi além de um passeio pela linguagem brasileira e os
          personagens Beto e Lia passam por Brasília e pelo Rio de Janeiro
          se envolvendo em diversas confusõese situações pitorescas.
        </p>
        <p>
          Das 1001 expressões, 125 foram escolhidas e dão vida aos diálogos
          dos personagens e por meio de ilustrações eles são mostrados enquanto
          viajam e se divertem no Brasil. De um aeroporto lotado em Brasília
          à Cidade do Samba no Rio.
        </p>
      </div>
      <div class="row">
        <div class="text-center col-sm-9 col-sm-offset-1 wow fadeInUp margins" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="col-sm-4">
            <i class="fa fa-comments f-icons" aria-hidden="true"></i>
            <h3>Diálogos
              Port/Inglês</h3>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-hand-o-up f-icons" aria-hidden="true"></i>
            <h3>Intuitivo
              e Dinamico</h3>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-mobile f-icons" aria-hidden="true"></i>
            <h3>Multi
              Plataforma</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
