<div class="container">
  <div class="row col-sm-10 col-sm-offset-3">
    <h1>O Projeto</h1>
    <div class="col-sm-4 imac-image">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/iBfY86cktN0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4">
      <div class="what-is wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <p>
          O projeto foi além de um passeio pela linguagem brasileira e os
          personagens Beto e Lia passam por Brasília e pelo Rio de Janeiro
          se envolvendo em diversas confusõese situações pitorescas.
        </p>
        <p>
          Das 1001 expressões, 125 foram escolhidas e dão vida aos diálogos
          dos personagens e por meio de ilustrações eles são mostrados enquanto
          viajam e se divertem no Brasil. De um aeroporto lotado em Brasília
          à Cidade do Samba no Rio.
        </p>
      </div>
    </div>
  </div>
</div>
