/* lg */
@media (min-width: 1370px) {

}
@media (min-width: 1200px) and (max-width: 1369px){

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  #main h1,
  #projeto h1,
  #autora h1,
  #livro h1,
  #atendimento h1{
    font-size: 72px;
    color: #000;
    text-align:center;
  }
  #autora h2{
    color: #480000;
    font-size: 54px;
  }
  #main p,
  #projeto p,
  #autora p,
  #livro p{
    line-height: 100%;
    font-size: 20px;
  }
  #projeto h3{
    font-size: 20px;
  }
  #main,
  #projeto,
  #autora,
  #livro,
  #atendimento {
    background-size: 100vw 100%;
  }
  #main{
    min-height: 75vh;
  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}
	.price {
		font-size: 16px;
		height: 110px;
		line-height: 30px;
		width: 100%;
	}
	.price span {
		font-size: 40px;
		margin-top: 27px;
	}
	.btn-signup {
		padding: 10px 20px;
	}
  .imac-image{
    min-height: 500px;
  }
  #main h1,
  #projeto h1,
  #autora h1,
  #livro h1,
  #atendimento h1{
    font-size: 76px;
    color: #000;
    text-align:center;
  }
  #autora h2{
    color: #480000;
    font-size: 58px;
  }
  #main p,
  #projeto p,
  #autora p,
  #livro p{
    line-height: 100%;
    font-size: 18px;
  }
  #projeto h3{
    font-size: 16px;
  }

  #main,
  #projeto,
  #autora,
  #livro,
  #atendimento {
    background-size: 100vw 100%;
  }
  #main{
    min-height: 75vh;
  }
}

/* xs */
@media (max-width: 767px) {
  .phone{
    margin-top: -5%;
  }
	body {
		font-size: 14px;
	}
  #main,
  #projeto,
  #autora,
  #livro,
  #atendimento {
    background-size: 100vw 100%;
  }

  #main{
    min-height: 100vh;
  }
}

/* XS Portrait */
@media (max-width: 479px) {
  .phone{
    margin-top: 0%;
  }
  #main,
  #projeto,
  #autora,
  #livro,
  #atendimento {
    background-size: 100% 100%;
  }
  #main{
    min-height: 100vh;
  }
}
